<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
     <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    	<encoder>
      		<pattern>%date %level [%file:%line] - %msg%n</pattern>
    	</encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>pastillero.log</file>
	<encoder>
      <pattern>%date %level [%file:%line] - %msg%n</pattern>
    </encoder>
  </appender>
     
    <logger name="mx.com.pastillero.serviceio" level="INFO"/>
    <logger name="mx.com.pastillero.model.dao" level="INFO"/>
    <logger name="mx.com.pastillero.controller" level="INFO"/> 
    
   <root level="OFF">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
    
  </root>
   
</configuration>